{% extends 'base.html' %}

{% block content %}
    <h1>Update post</h1>

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <div class="form-group">
                <form method="POST" class="post-form">
            {% csrf_token %}
            {{form.media}}
            {{form.as_p}}
            <button type="submit" class="save btn btn-default">Save</button>
            </form>
        </div>
    {% else %}
    You're not allowed here
    {% endif %}
{% else %}
NOt allowed
{% endif %}
    <script>var editor = new MediumEditor('.editable');</script>

{% endblock %}
